@page
@model AWAQPagina.Pages.adminViewModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWAQ</title>
    <link rel="stylesheet" href="~/css/studentView.css">
    <link rel="stylesheet" href="~/css/userInfoStyles.css">
    <link rel="stylesheet" href="~/css/listaEspecies.css">
</head>
<body>
    <header>
        <div class="headerClass bgGreen">
            <img src="~/images/logoBlanco.png" style="height:100%" />
            <a asp-page="/UserInfo" class="navLink" style="width: 78px">
                <button type="button" class="btn buttonClass">Perfil</button>
            </a>
        </div>
    </header>



    <div class="general">
        <div class="profile">
            <br>
            <br>
            <br>
            <br>
            <img src="@Model.usuario.profilePicture" alt="Avatar" class="user-photo">

            <div style="margin-top: 10px; font-weight: bold;">
                @Model.usuario.name @Model.usuario.firstLastname
            </div>

            <div>
                <em>@Model.usuario.userName</em>
            </div>

            <br>
            <br>

            <div class="containerRegistroBoton">
                <a asp-page="/Register" class="navLink">
                    <button type="button" class="modern-button">Registro Nuevo Usuario</button>
                </a>
            </div>

        </div>

        <div class="line">
        </div>

        <div class="dashboard">
            <div class="dashContainer d-flex" style="gap: 24px; justify-content:center; flex-direction:row">
                <div class="d-flex align-items-center justify-content-center" style="width:55%;">
                    <iframe width="480px" height="540px" src="https://lookerstudio.google.com/embed/reporting/5ba127ec-6521-4953-9f31-a455d8630c3f/page/E3ZwD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                </div>
                <div style="width: 50%" class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column" style="gap: 8px">
                        <div class="rowClass" style="width: 380px; height: 60px; background-color: #29692b; color: white; padding: 8px; border-radius: 20px; ">
                            <div class="colClass" style="flex: 1;">Nombre</div>
                            <div class="colClass" style="flex: 1;">Nombre de usuario</div>
                        </div>
                        <div class="d-flex flex-column" style="gap: 8px; max-height: 400px; overflow-y: scroll;">
                            @foreach (var usuario in Model.listaUsuario)
                            {
                                <a href="@usuario.directory">
                                    <div class="rowClass" style="width:380px; height: 50px; border-radius: 20px;">
                                        <div class="colClass" style="flex: 1;">@usuario.name @usuario.firstLastname</div>
                                        <div class="colClass" style="flex: 1;">@usuario.userName</div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
