@page
@model AWAQPagina.Pages.StudentAdminViewModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWAQ</title>
    <link rel="stylesheet" href="~/css/studentView.css">
    <link rel="stylesheet" href="~/css/userInfoStyles.css">


</head>
<body>
    <header>
        <div class="headerClass bgGreen">
            <img src="~/images/logoBlanco.png" style="height:100%" />
            <div style="display: flex; flex-direction: row; gap: 16px; align-items: center;">
                
                <a asp-page="/adminView" class="navLink" style="width: 78px">
                    <button type="button" class="btn buttonClass">Regresar</button>
                </a>

            </div>
        </div>
    </header>

    <div class="general">
        <div class="profile">
            <img src="@Model.usuario.profilePicture" alt="Avatar" class="user-photo">

            <div style="margin-top: 10px; font-weight: bold; height: 24px; line-height:24px;">
                @Model.usuario.name @Model.usuario.firstLastname
            </div>

            <div style="height: 24px; line-height: 24px;">
                <em>@Model.usuario.userName</em>
            </div>
            <br />
            <br />
            <div style="padding: 0 16px;">@Model.usuario.bio</div>
            <br />
            <br />
            <div class="medals-user">
                <div class="bronze-medal">
                </div>
                <div class="silver-medal">
                </div>
                <div class="gold-medal">
                </div>
            </div>

            <div class="medals-text">
                <p>@Model.medalla.bronceCount</p>
                <p>@Model.medalla.plataCount</p>
                <p>@Model.medalla.oroCount</p>
            </div>

            <br />
            <form method="post">
                <button type="submit" style="border: none; padding: 4px 8px; border-radius: 8px;">Desactivar usuario</button>
            </form>

        </div>

        <div class="line">
        </div>

        <div class="dashboard">
            <div class="dashContainer">
                <iframe width="100%" height="100%" src="@Model.dashboardLink" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
        </div>
    </div>

</body>
</html>